img {
  max-width: 100%;
}

body {
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif;
  background-color: white;
}

.container {
  margin: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.delivery {
  display: flex;
  gap: 10px;
}

.track {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
  border-bottom: 3px solid red;
  width: 100%;
}

button {
  background-color: white;
}

#pepperoni-button:hover {
  background-color: #ffd6d6;
}

#veggie-button:hover {
  background-color: #d6ffd6;
}

#bbq-button:hover {
  background-color: #ffe4c4;
}

#pepperoni-scooter {
  grid-column: 1;
}

#veggie-scooter {
  grid-column: 1;
}

#bbq-scooter {
  grid-column: 1;
}

#winner {
  background-color: gold;
  font-size: 90px;
  margin-top: 80px;
  padding: 10px;
  border-radius: 15px;
}
